# Google Analytics
NEXT_PUBLIC_GA_ID=

# Google Tag Manager
NEXT_PUBLIC_GTM_ID=

# Meta Pixel (Facebook)
NEXT_PUBLIC_META_PIXEL_ID=841297298204462

# Meta Conversion API
META_API_ACCESS_TOKEN=EAAJSFqomPpQBO0bZA1uAZAFACB1w84Pcdw0O9vF4FwzNHcb9HR7VdjZCXSyfxOml0ZAXzM6kIzMt1f1BJoQz6xr0J1y7ASqR0SQMhVosCO6MGwvFS2T4phXN6TVqM42kv9W4tZAy1wvYZBbURYVN7BeX4NhTmWQ2W5jUFORmJWOuzZCWZBRx62HCwZARtz3Cd2uyLiQZDZD

# Microsoft Clarity
NEXT_PUBLIC_CLARITY_ID= 

# Webhook para envio dos formularios
WEBHOOK_FORM=https://editor.n8n.icyou.com.br/webhook-test/a3b17b13-0e02-40c8-b277-07aeb6f7cd44